<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCguV7YPSTmOldcPOYIs2k0CDYQyihpxac</string>
	<key>GCM_SENDER_ID</key>
	<string>225948281483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CryptoApp1.yusuf.com.Crypto-App</string>
	<key>PROJECT_ID</key>
	<string>kriptoapp-c0759</string>
	<key>STORAGE_BUCKET</key>
	<string>kriptoapp-c0759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225948281483:ios:03dead82f1280fcb27828e</string>
</dict>
</plist>